table {
    background-color: var(--White);
    text-align: left;
    border-collapse: collapse;
    width: 100%;

}

th, td {
    border: 2px solid var(--light-gray);
    padding: 10px;
}
tr {
    transition: all ease 200ms;

}


tr th {
    text-align: center;
}

tr:hover {
    background-color: var(--light-purple);
}

.table__td{ 
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {

    table{
        font-size: 0.7em;
        width: 350px;
    }
}