:root{
    --light-gray : #c7cfd1;
    --main-purple: #665aea ;
    --White: #fff
}

button {
    
    display: flex;
    border: none;
    height: 45px;
    width: 90px;
    background-color: var(--main-purple);
    color: var(--White);
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 4px;
    gap: 2px;
    cursor: pointer;
    
}

input {

    width: 211px;
    height: 42px;
    border: 2px solid var(--light-gray);
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
    outline: none;
    
}

nav {
    display: flex;
    justify-content: space-between;
    
}

.btn__new-pokemon{

   margin-top: 70px;
   margin-right:50px;

}

.main-container{
    margin: 5px auto;
    width: 800px;
}

@media (max-width: 600px) {
    input{
      width: 250px;
    }
    .main-container{
        font-size: 0.9em;
        width: 350px;
    }
}